# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
client/build/

# Environment & local config
.env
.env.local
*.log

# Temp & OS files
.DS_Store
thumbs.db
tmp/
